body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* HEADER */

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/* INDEX */

.hero {
    background-image: url(../assets/index/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 70vh;
}

.hero__members {
    transition: 0.3s;
}

.hero__members:hover {
    transform: scale(1.15);
}

.text-white {
    color: #ffffff;
    font-family: 'Inter', sans-serif; 
    text-transform: uppercase;
    letter-spacing: 2px;
}

iframe {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6);
}

@media (min-width:768px) {
    .hero {
        min-height: 80vh;
    }

    .spotify-section {
        padding: 30px 0;
    }
}

@media (min-width:992px) {
    .hero {
    min-height: 90vh;
    }
}

/* DRUNKER */

#flyerCarousel {
    border: 2px solid #333;
}

#flyerCarousel img {
    height: 500px;
    object-fit: fill;
    background-color: #111;
}

.gallery-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* MEDIA */

body {
    background-color: #000;
}

.media-section-title {
    color: #fff;
    font-size: 1.5rem;
    border-left: 4px solid #f00;
    padding-left: 15px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

/* .gallery-img se formatea igual que en drunker asi que no lo agrego */

.gallery-img:hover {
    transform: scale(1.03);
    filter: grayscale(0%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.8);
}

#lightboxModal .modal-content {
    background-color: rgba(0, 0, 0, 0.9) !important;
}

#lightboxImg {
    max-height: 90vh;
    cursor: default;
}

.btn-close-white {
    filter: invert(1) grayscale(100%) brightness(200%);
    opacity: 0.8;
    z-index: 1051;
}

/* TOUR */

.tour-row {
    transition: background-color 0.3s ease;
}

.tour-row {
    transition: background-color 0.3s ease;
}

.tour-date {
    color: #f00;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.tour-city {
    font-size: 1.3rem;
    text-transform: uppercase;
}

.tour-venue {
    font-style: italic;
    font-size: 1.1rem;
}

.btn-outline-danger {
    border-width: 2px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.btn-outline-danger:hover {
    background-color: #f00;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.4);
}